

body{
       background-color: #F7F4EC ;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #2E2A24;
}

nav a:hover{
    color: #2F4A35;
}
nav a.active {
    color: #2F4A35;
    font-weight: 500;
}
#contact{
    background-color:#2F4A35;
    border-radius: 20px;
    color: #F7F4EC;
  padding: 6px 10px;
 
   

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 30px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    margin: 10px;
    padding: 10px;

}

nav button{
    background:  none ;
    border: none;   
}

.ligne_decor{
    background-color: #DDD6C6;
    width:100%;
    height: 0.5px;
}
nav img{
    width: 70px;
    height:auto;
}

